$background: #1d2021;
$background-alt: #282828;
$background-alt2: #3c3836;
$foreground: #dfbf8e;
$red: #ea6962;
$yellow: #d8a657;
$orange: #e78a5e;
$green: #a9b665;
$blue: #7daea3;
$blue2: #83a598;
$magenta: #d3869b;
$cyan: #89b482;